.header{
    display: flex;
align-items: center;
padding: 10px;
justify-content: space-between;
}

.nav-items{
display: flex;
list-style-type: none;
}
.link-item{
    text-decoration: none;
    
}

.nav-items li{
    margin:15px;
}
.logout{
height: 40px;
width: 140px;
background-color: #00BDD6FF;
border-width: 0px;
border-radius: 50px;
color: white;    
}